<body>
<div class="form-style-5">
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/registerstyle.css') }}">

</head>
                <form method="POST">
    <fieldset>
<legend><span class="number"></span> User Login</legend>
<input type="text" name="uname" class="form-control" placeholder="Username" id="uname">
<input type="password" name="passw" class="form-control" placeholder="Password" id="passw">

</fieldset>

<input type="submit" value="Login" />
</form>
</div>
</body>
