<body>
<div class="form-style-5">
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/registerstyle.css') }}">

</head>
<form method="POST">
    <fieldset>
<legend><span class="number"></span> User Registration</legend>
<input type="text" name="uname" class="form-control" placeholder="Username" id="uname">
<input type="email" name="mail" class="form-control" placeholder="Email" id="mail">
<input type="password" name="passw" class="form-control" placeholder="Password" id="passw">
<input type="text" name="phone" class="form-control" placeholder="Phone" id="phone">


</fieldset>

<input type="submit" value="Register" />
</form>
</div>
</body>
